:root {
    --logo-color: rgb(33, 150, 243);
    --logo-col:rgb(0, 0, 0);
    --main:rgb(47, 48, 58);
    --footer:rgb(255, 255, 255);
    --foot:rgba(255, 255, 255, 0.6);
    --button:rgb(245, 244, 250);
    }
    .header-name {
        font-family: "raleway";
        font-size: 25px;
    }
    .footer-name {
        font-family: "raleway";
        font-size: 25px;
    }
    body {
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 700;
        line-height: calc(24 / 14);
        color: var(--black-color);
    }
.our-team :nth-child(4) {
    margin-right: 30px;
}
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.our-work :nth-child(3) {
    margin-right: 30px;
}
.portfolio-item:nth-child(3n) {
    margin-left: 38px;
    margin-bottom: 30px;
}
.header {
    margin-bottom: 49px;
}
.hero {
    margin-bottom: 120px;
}
.details {
    margin-bottom: 94px;
}
.working {
    margin-bottom: 94px;
}
.team {
    margin-bottom: 94px;
}
.people {
    margin-bottom: 50px;
}
.filter-list {
    margin-bottom: 34px;
}
.portfolio-list {
    margin-bottom: 101px;
}